.idea
.DS_Store
Cogstate.Platform/.nuget/NuGet.exe
Cogstate.Platform/Cogstate.WebServices/App_Data/Cogstate.Models.XML
Cogstate.Platform/Cogstate.WebServices/App_Data/Cogstate.WebServices.XML

# User-specific files
*.suo
*.user
*.sln.docstates
*.orig
.vs/

# NuGet Packages Directory
# packages/*
**/packages/**
Roulette/Roulette.Security/obj/Debug/Roulette.Security.csproj.FileListAbsolute.txt
Roulette/UserBetReports/Admin/22.csv
*.cache
.csproj.FileListAbsolute.txt
Roulette/Roulette/bin/Antlr3.Runtime.dll
Roulette/Roulette/bin/EntityFramework.dll
Roulette/Roulette/bin/EntityFramework.SqlServer.dll
Roulette/Roulette/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
Roulette/Roulette/bin/Microsoft.Practices.ServiceLocation.dll
Roulette/Roulette/bin/Microsoft.Web.Infrastructure.dll
Roulette/Roulette/bin/Newtonsoft.Json.dll
Roulette/Roulette/bin/System.Data.SqlClient.dll
Roulette/Roulette/bin/System.Net.Http.Formatting.dll
Roulette/Roulette/bin/System.Runtime.CompilerServices.Unsafe.dll
Roulette/Roulette/bin/System.Threading.Tasks.Extensions.dll
Roulette/Roulette/bin/System.Web.Helpers.dll
Roulette/Roulette/bin/System.Web.Http.dll
Roulette/Roulette/bin/System.Web.Http.WebHost.dll
Roulette/Roulette/bin/System.Web.Mvc.dll
Roulette/Roulette/bin/System.Web.Optimization.dll
Roulette/Roulette/bin/System.Web.Razor.dll
Roulette/Roulette/bin/System.Web.WebPages.Deployment.dll
Roulette/Roulette/bin/System.Web.WebPages.dll
Roulette/Roulette/bin/System.Web.WebPages.Razor.dll
Roulette/Roulette/bin/Unity.Abstractions.dll
Roulette/Roulette/bin/Unity.Container.dll
Roulette/Roulette/bin/Unity.WebApi.dll
Roulette/Roulette/bin/WebGrease.dll
