.idea
.DS_Store
Cogstate.Platform/.nuget/NuGet.exe
Cogstate.Platform/Cogstate.WebServices/App_Data/Cogstate.Models.XML
Cogstate.Platform/Cogstate.WebServices/App_Data/Cogstate.WebServices.XML

# User-specific files
*.suo
*.user
*.sln.docstates
*.orig
.vs/

# NuGet Packages Directory
# packages/*
**/packages/**
Roulette/Roulette.Security/obj/Debug/Roulette.Security.csproj.FileListAbsolute.txt
Roulette/UserBetReports/Admin/22.csv
*.cache
.csproj.FileListAbsolute.txt
