<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
  </configSections>

  <connectionStrings>
    <add name="CSPDBContext" connectionString="Data Source=.;Initial Catalog=Roulette;Integrated Security=True;MultipleActiveResultSets=false"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <appSettings>
    <add key="DB_MAX_RETRY_COUNT" value="3"/>
    <add key="DB_MAX_RETRY_DELAY" value="5"/>
    <add key="DB_MIN_THROTTLE_DELAY" value="10"/>
    <add key="DB_COMMAND_TIMEOUT" value="120"/>
    <add key="DB_UPDATESTATS_TIMEOUT" value="0"/>
    <add key="DB_REFRESHVIEW_TIMEOUT" value="120"/>
    <add key="UpdateExtractStoredProcedureName" value="[Reports].[uspUpdateExtractStandardAssessmentDetail]"/>
    <add key="AssessmentOutcomesStoredProcedureName" value="[dbo].[uspGetAssessmentOutcomesForHub]"/>
    <add key="RawAssessmentStoredProcedureName" value="[dbo].[uspGetRawAssessmentsForHub]"/>
  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>