@{
    ViewBag.Title = "Place Your Bet";
}
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.js"></script>
    <script src="~/Scripts/Index.js"></script>
</head>

<div class="row">
    <div class="col-md-4" >
        <div ng-app = "Roulette" ng-controller="HomeController" ng-cloak>
            <form onsubmit="PlaceYourBet()">
                <p>Enter your Bet:</p>
                <select ng-model="bet">
                    <option value="">Please choose...</option>
                    <option ng-repeat="number in Numbers" ng-bind:value="number.Number" ng-style="{'color':number.Color.Name}">{{ number.Number }}</option>
                   
                </select>
                <p>Your bet is <span ng-bind="bet"></span>.</p>
                <input type="submit" value="Submit" ng-click="PlaceYourBet()">
            </form>
            <p ng-show="BetPlaced">Your Bet is Placed</p>
            <p ng-show="ActionFailed">Failed to place your bet</p>
        </div>
    </div>
</div>