@{
    ViewBag.Title = "Place Your Bet";
}
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.js"></script>
    @*<script src="~/Scripts/Login.js"></script>*@
    <script src="~/Scripts/Index.js"></script>
</head>

<div class="row">
    <div class="col-md-4" >
        <div ng-app="Roulette" ng-controller="HomeController" ng-cloak>
            <div style="position: fixed; background-color: greenyellow">
                <a onclick="RetrieveStats()">Find my Statistics</a>&nbsp;&nbsp;
                <a ng-click="LogOff()">LogOff</a>
            </div>
            <br />
            <br />
            <p ng-show="UpdateUserInput">Please enter your new bet here</p>
            <form onsubmit="PlaceYourBet()">
                <p>Select your Bet:</p>
                <p style="color:red" ng-show="NumberLoadFailed"> Failed to load numbers</p>
                @*<select ng-model="bet" ng-show="!NumberLoadFailed" ng-change="Clicked = 0">
                <option value="">Please choose...</option>
                <option ng-repeat="number in Data.Item1" ng-bind:value="number.Number" ng-style="{'color':number.Color.Name}">{{ number.Number }}</option>
            </select>*@
                <div>
                    <input type="button" style="color:white;background-color:green" value="0" ng-click="bet=0" />
                    <input type="button" style="color:white;background-color:red" value="1" ng-click="bet=1" />
                    <input type="button" style="color:white;background-color:black" value="2" ng-click="bet=2" />
                    <input type="button" style="color:white;background-color:red" value="3" ng-click="bet=3" />
                    <input type="button" style="color:white;background-color:black" value="4" ng-click="bet=4" />
                    <input type="button" style="color:white;background-color:red" value="5" ng-click="bet=5" />
                    <input type="button" style="color:white;background-color:black" value="6" ng-click="bet=6" />
                    <input type="button" style="color:white;background-color:red" value="7" ng-click="bet=7" />
                    <input type="button" style="color:white;background-color:black" value="8" ng-click="bet=8" />
                    <input type="button" style="color:white;background-color:red" value="9" ng-click="bet=9" />
                    <input type="button" style="color:white;background-color:black" value="10" ng-click="bet=10" />
                    <input type="button" style="color:white;background-color:black" value="11" ng-click="bet=11" />
                    <input type="button" style="color:white;background-color:red" value="12" ng-click="bet=12" />
                    <input type="button" style="color:white;background-color:black" value="13" ng-click="bet=13" />
                    <input type="button" style="color:white;background-color:red" value="14" ng-click="bet=14" />
                    <input type="button" style="color:white;background-color:black" value="15" ng-click="bet=15" />
                    <input type="button" style="color:white;background-color:red" value="16" ng-click="bet=16" />
                    <input type="button" style="color:white;background-color:black" value="17" ng-click="bet=17" />
                    <input type="button" style="color:white;background-color:red" value="18" ng-click="bet=18" />
                    <input type="button" style="color:white;background-color:black" value="19" ng-click="bet=19" />
                    <input type="button" style="color:white;background-color:black" value="20" ng-click="bet=20" />
                    <input type="button" style="color:white;background-color:red" value="21" ng-click="bet=21" />
                    <input type="button" style="color:white;background-color:black" value="22" ng-click="bet=22" />
                    <input type="button" style="color:white;background-color:red" value="23" ng-click="bet=23" />
                    <input type="button" style="color:white;background-color:black" value="24" ng-click="bet=24" />
                    <input type="button" style="color:white;background-color:red" value="25" ng-click="bet=25" />
                    <input type="button" style="color:white;background-color:black" value="26" ng-click="bet=26" />
                    <input type="button" style="color:white;background-color:red" value="27" ng-click="bet=27" />
                    <input type="button" style="color:white;background-color:black" value="28" ng-click="bet=28" />
                    <input type="button" style="color:white;background-color:black" value="29" ng-click="bet=29" />
                    <input type="button" style="color:white;background-color:red" value="30" ng-click="bet=30" />
                    <input type="button" style="color:white;background-color:black" value="31" ng-click="bet=31" />
                    <input type="button" style="color:white;background-color:red" value="32" ng-click="bet=32" />
                    <input type="button" style="color:white;background-color:black" value="33" ng-click="bet=33" />
                    <input type="button" style="color:white;background-color:red" value="34" ng-click="bet=34" />
                    <input type="button" style="color:white;background-color:black" value="35" ng-click="bet=35" />
                    <input type="button" style="color:white;background-color:red" value="36" ng-click="bet=36" />
                </div>
                <p>Please Select Roulette Event:</p>
                <select ng-model="RouletteEvent" onchange="DisplayMinMaxValue()">
                    <option value="">Please choose...</option>
                    <option ng-repeat="rouletteEvent in Data.Item2" ng-bind:value="rouletteEvent">{{ rouletteEvent.EventName }}</option>
                </select>
                @*<p>
                Please enter bet Amount
            </p>*@
                <input type="submit" value="Submit" ng-click="PlaceYourBet()">
            </form>
            <p ng-show="BetPlaced">Your Bet is Placed</p>
            <p ng-show="ActionFailed">Failed to place your bet</p>
            <p ng-show="DeleteUserInput">Bet Deleted</p>
            <p ng-show="!formValidated">Please check all the fields</p>
            <input type="button" value="Update Placed Bet" ng-show="BetPlaced" ng-click="UserInputUpdate()" />
            <input type="button" value="Delete Placed Bet" ng-show="BetPlaced" ng-click="DeleteBet()" />
            
            <div ng-show="StatsVisible" style="background-color:blue">
                <p style="color:white">Last Twelve Bets</p>
                <p style="color:red" ng-show="HotNumberFailure">Unable to Retrieve Last Twelve Bets. Please contact system administrator.</p>
                <div style="background-color:white" ng-show="!LastTwelveBetFailure"><p ng-repeat="LastTwelveBet in LastTwelveBets" ng-style="{'color':LastTwelveBet.Color.Name}">{{LastTwelveBet.Number}}</p></div>

                <p style="color:white">Odd vs Even Statistics:</p>
                <p style="color:red" ng-show="OddEvenStatsFailure">Unable to Retrieve Odd Even statistics. Please contact system administrator.</p>
                <div ng-show="!OddEvenStatsFailure">
                    <p style="color:white">Odd:{{OddEvenStats.Odd}}%</p>
                    <p style="color:white">Even:{{OddEvenStats.Even}}%</p>
                </div>
                <p style="color:white">Color Statistics</p>
                <p style="color:red" ng-show="ColorStatsFailure">Unable to Retrieve Color statistics. Please contact system administrator.</p>
                <div ng-show="!ColorStatsFailure">
                    <p style="color:white">Black:{{ColorStats.Black}}%</p>
                    <p style="color:white">Red:{{ColorStats.Red}}%</p>
                </div>
                <p style="color:white">Zero Percentage</p>
                <p style="color:red" ng-show="ZeroFailure">Unable to Retrieve Zero Percentage. Please contact system administrator.</p>
                <div style="background-color:white" ng-show="!ZeroFailure">
                    <p style="color:green">0:{{Zero.Zero}}%</p>
                </div>
                <p style="color:white">Hot Numbers</p>
                <p style="color:red" ng-show="HotNumberFailure">Unable to Retrieve Hot Numbers. Please contact system administrator.</p>
                <div style="background-color:white" ng-show="!HotNumberFailure"><p ng-repeat="HotNumber in HotNumbers" ng-style="{'color':HotNumber.Color.Name}">{{HotNumber.Number}}</p></div>
                <p style="color:white">Cool Numbers</p>
                <p style="color:red" ng-show="CoolNumberFailure">Unable to Retrieve Cool Numbers. Please contact system administrator.</p>
                <div style="background-color:white" ng-show="!CoolNumberFailure">
                    <p ng-repeat="CoolNumber in CoolNumbers" ng-style="{'color':CoolNumber.Color.Name}">{{CoolNumber.Number}}</p>
                </div>
            </div>

        </div>
    </div>
</div>