@{
    ViewBag.Title = "Place Your Bet";
}
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.js"></script>
    @*<script src="~/Scripts/Login.js"></script>*@
    <script src="~/Scripts/Index.js"></script>
</head>

<div class="row">
    <div class="col-md-4" >
        <div ng-app="Roulette" ng-controller="HomeController" ng-cloak>
            <p ng-show="UpdateUserInput">Please enter your new bet here</p>
            <form onsubmit="PlaceYourBet()">
                <p>Enter your Bet:</p>
                <p style="color:red" ng-show="NumberLoadFailed"> Failed to load numbers</p>
                <select ng-model="bet" ng-show="!NumberLoadFailed" ng-change="Clicked = 0">
                    <option value="">Please choose...</option>
                    <option ng-repeat="number in Data.Item1" ng-bind:value="number.Number" ng-style="{'color':number.Color.Name}">{{ number.Number }}</option>
                </select>
                <p>Please Select Roulette Event:</p>
                <select ng-model="RouletteEvent">
                    <option value="">Please choose...</option>
                    <option ng-repeat="rouletteEvent in Data.Item2" ng-bind:value="rouletteEvent">{{ rouletteEvent.EventName }}</option>
                </select>
                <p>Please enter bet Amount {{range}}</p>
                <input type="text" ng-model="money"/>
                <p>Your bet is <span ng-bind="bet"></span>.</p>
                <input type="submit" value="Submit" ng-click="PlaceYourBet()">
                <p ng-show="Clicked>1" style="color:red">You have already placed your bet.</p>
            </form>
            <p ng-show="BetPlaced">Your Bet is Placed</p>
            <p ng-show="ActionFailed">Failed to place your bet</p>
            <p ng-show="DeleteUserInput">Bet Deleted</p>
            <p ng-show="!formValidated">Please check all the fields</p>
            <input type="button" value="Update Placed Bet" ng-show="BetPlaced" ng-click="UpdateUserInput=true" />
            <input type="button" value="Delete Placed Bet" ng-show="BetPlaced" ng-click="DeleteBet()" />
            <input type="button" value="LogOff" ng-click="LogOff()" />
        </div>
    </div>
</div>